.data-pane {
    -fx-background-color: red;
}

.focusable {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.filter-buttons {
    -fx-background-color: #ddddd;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-focus-color: trasparent;
}

.filter-buttons:pressed {
    -fx-background-color: darkgray;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.status-icons {
    -fx-background-color: black;
    -fx-fill-color: black;
}