.data-pane {
    -fx-background-color: red;
}

.focusable {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.filter-buttons {
    -fx-border-color: black;
    -fx-border-radius: 0;
}

.filter-buttons:pressed {
    -fx-background-color: darkgray;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.status-icons {
    -fx-background-color: black;
    -fx-fill-color: black;
}

.tooltip {
    -fx-background: rgba(30,30,30, 1.0);
    -fx-text-fill: white;
    -fx-background-color: rgba(30,30,30,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-font-size: 0.9em;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}